.Schedule {
  figure {
    background: yellowgreen;
  }
  .react-calendar {
    width: 100%;
  }
  .react-calendar__tile--now{
    background: rgb(248, 206, 227);
  }
  .react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #fa8dd6;
}
}
